
@{
    ViewBag.Title = "RetailerHome";
    Layout = "~/Views/Shared/_Retailer.cshtml";
}

<style>
    .sam {
        margin: 20px;
    }
</style>

<br /><br /><br /><br /><br /><br /><br />

<div class="sam">
    <marquee behavior="alternate">
        <img src="~/Content/Image/HomeImg.JPG" width="500" height="200" />
    </marquee>
</div>

