
@{
    ViewBag.Title = "FormerPassword";
    Layout = "~/Views/Shared/_Former.cshtml";
}

<style>
    .sam {
        margin: 20px;
    }
</style>

<br /><br /><br />

@using (Html.BeginForm("FormerPassword", "Former", FormMethod.Post, new { id = "submitForm" }))
{
    <div class="sam container">
        <h2>Change Password</h2>
        <hr />
        <div class="form-group">
            <label>Enter Old Password</label>
            <input type="password" name="oldPas" required="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Enter Old Password</label>
            <input type="password" name="newPas" required="" class="form-control" />
        </div>
        <div class="form-group">
            <label>Enter Old Password</label>
            <input type="password" name="comPas" required="" class="form-control" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@section scripts{
    <script>
        $(function () {
            var suces = '@TempData["PasSuc"]'
            var update = '@TempData["PasNtMt"]'

            if (suces != '')
                toastr.success(suces);
            else
                if (update != '')
                    toastr.warning(update);
        });
    </script>
}




