
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Form</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Jolly Login Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tags -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Login/")css/font-awesome.min.css" />

    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="@Url.Content("~/Content/Login/")css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->

    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

</head>
<body>

    <h1>Login Form</h1>

    <div class="main-w3">
        <form action="#" method="post">
            <h2><span class="fa fa-user t-w3" aria-hidden="true"></span></h2>
            <div class="icons">

                <select name="typ" class="example" required="">
                    <option value="">--Select Type--</option>
                    <option value="Admin">Admin</option>
                    <option value="Chef">Chef</option>
                    <option value="User">User</option>
                    <option value="Retailer">Retailer</option>
                    <option value="Former">Former</option>
                </select>
                <span class="fa fa-user" aria-hidden="true"></span>
                <div class="clear"></div>
            </div><br />
            <div class="login-w3ls">
                <div class="icons">

                    <input type="email" name="email" placeholder="Email" required="">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="clear"></div>
                </div>
                <div class="icons">

                    <input type="password" name="password" placeholder="Password" required="">
                    <span class="fa fa-key" aria-hidden="true"></span>
                    <div class="clear"></div>
                </div>
                <div class="btnn">
                    @*<input type="checkbox" class="checked"><span class="span">Remember me..?</span><br>*@
                    <button type="submit">Login</button><br>
                    <a href="Index" class="for">Home</a>
                </div>
            </div>
        </form>

    </div>

    <div class="copy">
        <p>&copy;2020 Login Form. All Rights Reserved | <a href="#" target="_blank"></a>
    </div>
</body>
</html>